{% extends "learning_logs/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Track your learning!</h1>

        <p class="lead">Log all of your learning by keeping a list of topics
            you're learning about. Whenever you learn something about one of
            the topics, make an entry summarising what you learned!</p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>

    </div>
{% endblock page_header %}
